.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.notification-block {
    background: #DE6262;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3f4c6b, #3f4c6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3f4c6b, #3f4c6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 50px 0;
    min-height: 100vh;
   
}

.notification-sec {
    padding: 30px 30px;
    position: relative;
}

.notification-sec h2 {
    margin-top: -10px;
    font-weight: 800;
    font-size: 30px;
    color: #3f4c6b;
}

.notification-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #3f4c6b;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.notification {
    margin-top: 35px;

}


.unread {
    border: 1px solid red;
}


i {
    font-size: xx-large;
}

.envelope {
    i {
        font-size: xx-small;
        // margin-left: 5px;
        position: absolute;
        margin-top: -10px;
        right: 3%;
        transform: translateY(-50%);
    }
}

.text {
    margin-left: 15px;
    margin-right: 36px;
    text-align: justify;

    p {
        font-size: large;
    }
}

.timeago {
    font-size: x-small;
    position: absolute;
    margin-top: 5px;
    transform: translateY(-50%);

}

.dates {
    opacity: 1;
    // background-color: #eee;
    // width: 10%;
    // height: 40%;
    // line-height: 90px;
    // text-align: center;
    // border-radius: 50%;
    // border: 2px solid #333;
    // margin-top: 4px;
    position: absolute;
    margin-top: 5px;
    right: 3%;
    transform: translateY(-50%);
    font-size: x-small;
}

.limitTextHeight {
    height: 25px;
    overflow: hidden;
}

.readbtn {
    padding: 0%;
    border: none;
    outline: none;
    font-weight:500;
    font-size: x-large;
    position: absolute;
    margin-top: -20px;
    right: 2.6%;
    transform: translateY(-50%);
    background-color:inherit;
}   