<div class="product-grid grid">
  <div class="product-image">
    <a [routerLink]="['product-details', productData.ProductId]">
      <img class="pic-1" [src]="productData.PrimaryImage">
      <!-- <img class="pic-2" [src]="productData.PrimaryImage"> -->
    </a>
    <ul class="social">
      <li><a [routerLink]="['product-details', productData.ProductId]" data-tip="Quick View"><i class="fa fa-eye"></i></a>
      </li>
    </ul>
    <!-- <span class="product-new-label">New</span>
      <span class="product-discount-label">-10%</span> -->
    </div>
    <div class="product-content">
      <!-- <span class="product-shipping">{{productData.DepartmentName}} - {{productData.CategoryName}}</span> -->
      <h3 class="title">
        <a [routerLink]="['product-details', productData.ProductId]">
          
          <strong>
            {{productData.Name}}
            <span class="badge bg-warning rounded " *ngIf="productData.DiscountPercentage">{{productData.DiscountPercentage}}% Off</span>
          </strong>
        </a>
        <span class="wa-span">
          <a class="cursor-p" class="mr-1 text-decoration-none" href="javascript:void(0);" (click)="dataService.OpenInWa('Ab Kharido *' + productData.Name + '* sirf Rs.' + productData.Price + ' mai sirf *ApniDukan* pe.\nLimited Stock!!.\nClick here: https://apnidukan.yantraworld.in/products/product-details/'+ productData.ProductId)">Share <i class="fa fa-share"></i> <i class="fa fa-whatsapp wa-product" title="Share this product on Whatsapp" aria-hidden="true"></i></a>
          <a class="cursor-p" target="_blank" (click)="dataService.copyToClip('Ab Kharido *' + productData.Name + '* sirf Rs.' + productData.Price + ' mai sirf *ApniDukan* pe.\nLimited Stock!!.\nClick here: https://apnidukan.yantraworld.in/products/product-details/'+ productData.ProductId)"> <i (click)="copied = !copied" [ngClass]="copied ? 'text-success' : 'text-danger'" class="fa fa-clone wa-product" title="Copy to Share this product" aria-hidden="true"></i></a>
        </span>
        <span class="edit-product-span" *ngIf="user && user.Role <= 6">
          <a   href="javascript:void(0)"  [routerLink]="['/emp-access/product-insert']" [queryParams]="{id: productData.ProductId}"><i class="fa fa-edit  " title="edit product" aria-hidden="true"></i></a>
        </span>
        <span class="delete-product-span" *ngIf="user && user.Role <= 6 && productData.child_of">
          <a   href="javascript:void(0)" (click)="GlobalHttpService.deleteChildProduct(productData.ProductId)"><i class="fa fa-trash  " title="edit product" aria-hidden="true"></i></a>
        </span>
        
    </h3>
    <div class="price">
      &#8377; {{productData.Price}} / piece
    </div>
    <div class="row">
      <div class="col-md-12 py-1 px-1 m-auto">
        
        <strong>
          <span class="badge bg-pink rounded " > COD Available</span> &nbsp;
          <span *ngIf="user && user.Role <= 8" > stock: {{productData.stock}}</span> &nbsp;
          <span class="badge bg-danger" *ngIf="!productData.stock || productData.stock == 0"> out of stock
            
          </span> &nbsp;
          <span class="badge bg-danger" *ngIf="!productData.IsActive"> In Active</span> &nbsp;
          <!-- <span class="badge bg-success"  *ngIf="productData.stock > 0"> {{productData.stock > 10 ?  productData.stock + ' left' : 'Hurryup! only ' + productData.stock + ' left'}}</span> &nbsp; -->
          <!-- <span class="badge purple mr-1"><i class="fa fa-whatsapp" aria-hidden="true"></i>: {{productData.max_quantity}}</span> -->
          <!-- & <span class="badge bg-success rounded " >PayLater Available</span> -->
          <!-- [ngClass]="{'bg-success': productData.stock >= 5, 'bg-warning': productData.stock < 5}" -->
        </strong>
      </div>
      <div title="{{productData.Description}}" class="col-md-12 m-auto desc">
        <p >{{productData.Description.length > 40 ? productData.Description.slice(0, 40 - 1) + "…" : productData.Description}} {{productData.child_of ? 'Quality B' : ''}}</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6 py-1 px-1 m-auto">
        <strong>
          Quantity
        </strong>

      </div>
      <div class="col-md-6 py-1 px-1">
        <div class="quantity">
          <input type="button" value="+" class="plus" (click)="onUpdateQuantity(1,  product)">
          <input type="number" step="1" disabled [max]="productData.min_quantity" [min]="productData.min_quantity" [value]="productData.Quantity" title="Qty" 
            size="4">
          <input type="button" value="-" class="minus" [disabled]="productData.Quantity == 1"
            (click)="onUpdateQuantity(0, product)">
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-6 py-1 px-1">
        <strong>
          Size
        </strong>
        <select class="browser-default custom-select">
          <option [value]="item.AttributeId" *ngFor="let item of productData.Size">{{item.AttributeValue}}</option>
        </select>

      </div>
      <div class="col-md-6 py-1 px-1">
        <strong>
          Colour
        </strong>
        <select class="browser-default custom-select">
          <option [value]="item.AttributeId" *ngFor="let item of productData.Color">{{item.AttributeValue}}</option>
        </select>
      </div>
    </div> -->
    <button class="btn btn-warning" *ngIf="(!productData.stock || productData.stock == 0) && (user.Role > 8 || !user.Role)" (click)="notifyYantra(productData)">Book Order <i class="fa fa-bell ft-19"></i></button>
    <app-add-to-cart *ngIf="(productData.stock || productData.stock > 0) && productData.IsActive" [productId]="productData.ProductId" [quantity]="productData.min_quantity">
    </app-add-to-cart>
    <app-add-to-my-bag *ngIf="user && user.Role <= 8" [productId]="productData.ProductId" [quantity]="productData.min_quantity" >
    </app-add-to-my-bag>
  </div>
</div>