<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <a style="color: aliceblue" class="navbar-brand" href="#"><strong>Apni Dukan</strong></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              style="color: aliceblue"
              class="nav-link active"
              aria-current="page"
              routerLink="/customer/login"
              
              ><strong>Login</strong></a
            >
            <!-- /customer/login diya jab to root se start hoga route url m but after origin ya domainname.com/ -->
            <!-- customer/login diya jab to jahan user abhi hai uspe append hoga jo current string routerlink m di hai -->
            <!-- / root k liye hota hai  -->
          </li>
          <li class="nav-item b-top-bottom cursor-p" >
            <a class="nav-link " routerLink="/customer/register">
              <strong class="text-white">Sign up</strong>
            </a>
          </li>
          <li class="nav-item">
            <a style="color: aliceblue" class="nav-link" routerLink="create"
              ><strong>Call me</strong></a
            >
          </li>
          <li class="nav-item">
            <a style="color: aliceblue" class="nav-link" routerLink="create"
              ><strong>Whatsapp</strong></a
            >
          </li>
          <li class="nav-item">
            <a style="color: aliceblue" class="nav-link" routerLink="create"
              ><strong>Google Map</strong></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  

