<!-- <marquee class="bg-success ft-19 " width="100%" direction="left" height="35px" onmouseover="this.stop();"
  onmouseleave="this.start();">
  <span class="badge rounded-pill bg-info">Authorized</span>
  <span class="badge rounded-pill bg-dark"> UBon</span><span class="badge rounded-pill bg-warning"> VingaJoy</span><span
    class="badge rounded-pill bg-info"> Distributor</span>
  <strong class="dark-text"><a class="text-white" href="tel:{{9711822722}}">Call Me<i class="fa fa-phone text-danger"
        aria-hidden="true"></i> or
    </a>
    <a target="_blank" href="https://wa.me/+919711822722/?text=Neeraj ji">
      <i class="fa fa-whatsapp ft-19 " aria-hidden="true"></i>Whatsapp
    </a>
  </strong>
  <strong class=" text-dark">Refer & Earn! Refer karo apne dost ko aur uske phle order pe pao 5 Data Cabel 3 Amp bilkul
    Free!! </strong>
  <span class="badge rounded-pill bg-info">Authorized</span>
  <span class="badge rounded-pill bg-dark"> UBon</span><span class="badge rounded-pill bg-warning"> VingaJoy</span><span
    class="badge rounded-pill bg-info"> Distributor</span>
  <strong class="dark-text"><a class="text-white" href="tel:{{9711822722}}">Call Me<i class="fa fa-phone text-danger"
        aria-hidden="true"></i> or
    </a>
    <a target="_blank" href="https://wa.me/+919711822722/?text=Neeraj ji">
      <i class="fa fa-whatsapp ft-19 " aria-hidden="true"></i>Whatsapp
    </a>
  </strong>
</marquee> -->