
 img {
    max-height: 456px;
    object-fit: contain;
}
ng-template {
    transition-duration: 0.2s !important;
}
@media (max-width: 688px) {
    img {
        height: 356px;
        object-fit: contain;
    }
}
// .container-fluid {
//     background-image: url("https://images.yourstory.com/cs/images/companies/UBON-1593435952409.jpg");
//     background-size: auto 60px;
//     // background-image: url("https://cdn.shopify.com/s/files/1/0584/2265/7177/files/1600x850.jpg?v=1632827820");
//     background-repeat: repeat-y repeat-x;
//   }