<!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-interval="true" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.shopify.com/s/files/1/0584/2265/7177/files/1600x850.jpg?v=1632827820"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/1.jpg" class="d-block w-100" alt="Salute">
        </div>
        <div class="carousel-item">
            <img src="/assets/brands.jpeg" class="d-block w-100" alt="Salute">
        </div>
        <div class="carousel-item">
            <img src="https://indiantelevision.com/sites/default/files/styles/230x230/public/images/tv-images/2021/07/14/photogrid_plus_1626254580634.jpg?itok=cHT7AVrn"
                class="d-block w-100" alt="Salute">
        </div>
        <div class="carousel-item">
            <img src="https://online.fliphtml5.com/nfcjx/vuko/files/large/1.jpg?1571300464" class="d-block w-100"
                alt="Salute">
        </div>
        <div class="carousel-item" *ngFor="let product of carouselList;">
            <img routerLink="['product-details', product.ProductId]" [src]="product.PrimaryImage" alt="product.Name"
                class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->