<p>app-header works!</p>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Apni Dukan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Call Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Whatsapp</a>
          </li>
          <li class="nav-item b-top-bottom cursor-p" *ngIf="">
            <a class="nav-link  install-btn"
              href="https://www.google.com/maps/place/28%C2%B036'16.5%22N+76%C2%B058'50.5%22E/@28.604572,76.9785143,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d28.604572!4d76.980703?hl=en"
              target="_blank">
              <i class="fa fa-map-marker ft-30 text-white"></i>
              <strong class="text-white">Google Map</strong>
            </a>
          </li>
          <li class="nav-item b-top-bottom cursor-p" *ngIf="">
            <a class="nav-link  install-btn" >
              <i class="fa fa-download text-white"></i>
              <strong class="text-white">Install App</strong>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>