<app-header *ngIf="hideForPdf"></app-header>
<br>
<div class="container mt-5" id="contentToConvert">
    <div class="row" *ngIf="orderDetail && orderDetail.length && user && user.Role <= 6">
        <div class="col-md-12 text-center">
            <h5><b><u>Invoice</u></b>
            </h5>
        </div>
        <div class="col-md-12 cursor-p" (click)="getInvoice()" *ngIf="hideForPdf">
            <u class="pull-right">
                <h6>save<i class="fa fa-save" style="cursor: pointer"></i>
                </h6>
            </u>
        </div>
        <div class="col-md-12 invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="mt-3">
                                    <img src="assets/yantra-logo.png" style="width: 10%; max-width: 200px" />
                                    <p>For: <b>Dear {{orderDetail[0].cName}}</b>, <br>
                                        {{orderDetail[0].address_1}}
                                    </p>
                                </td>
                                <td>
                                    <h6><b>ApniDukan,</b></h6>
                                    Tower 8, Provident, Rajender Nagar <br>
                                    Hyderabad, 500030 <br>
                                    India <br>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        <div class="col-md-12 cursor-p" (click)="getInvoice()" *ngIf="hideForPdf">
            <u class="pull-right">
                <h6>save<i class="fa fa-save" style="cursor: pointer"></i>
                </h6>
            </u>
        </div>
    </div>
    <div class="row1" *ngIf="orderDetail && orderDetail.length">
        <div class="col-md-12">
            <h6><b>Date: </b> {{orderDetail[0].CreatedOn | date}} </h6>
            <strong>
                <h4><b>Order Id: </b> {{orderDetail[0].order_id}} <i class="fa fa-file-pdf-o"
                        *ngIf="user && user.Role > 1" style="color:red; cursor: pointer" (click)="getInvoice()"></i>
                </h4>
            </strong>
        </div>
        <div class="col-md-3" *ngIf="hideForPdf">
            <div class="input-group rounded">
                <input type="search" (input)="filterOrder($event)" class="form-control rounded"
                    placeholder="Search Product in this order" aria-label="Search" aria-describedby="search-addon" />
            </div>
        </div>
        <div class="col-md-12 table-responsive-sm">
            <table class="table table-striped text-center">
                <thead class="pink-text">
                    <tr>
                        <th scope="col">S No.</th>
                        <th scope="col">Order Item Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Qty x Rate</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <!-- <th scope="col">ReOrder</th> -->
                    </tr>
                </thead>
                <tbody class="mt-5">
                    <tr *ngFor="let order of orderDetail; let i = index"
                        [ngClass]="{'decor-strike': [3,4].indexOf(order.item_status) > -1}">
                        <th scope="row">{{i+1}}</th>
                        <td>{{order.item_id}}</td>
                        <td>
                            <a class="td-link" href="javascript:void(0)"
                                [routerLink]="['/products/product-details', order.product_id]">{{order.product_name}}</a>
                            <div class="form-check " *ngIf="hideForPdf">
                                <input type="checkbox" name="fullPay" (change)="bulkStatusChange(order.item_id)"
                                    class="form-check-input ft-20">
                            </div>
                        </td>
                        <td>{{order.quantity}} x {{order.unit_cost}}</td>
                        <td>{{order.quantity * order.unit_cost}}</td>
                        <td>{{order.StatusName}}</td>
                        <!-- <td>
                            <app-add-to-cart class="add-cart" [productId]="order.product_id"
                                [colorId]="colorId" [quantity]="order.min_quantity" [sizeId]="sizeId"
                                [isHomePage]="true">
                            </app-add-to-cart>
                        </td> -->
                    </tr>
                    <tr>
                        <td colspan="2"><b *ngIf="hideForPdf">Change Bulk Status:</b></td>
                        <td>
                            <select *ngIf="hideForPdf" (change)='onChangeStatus($event)' name="userId"
                                class="form-control mw-200">
                                <option [value]="obj.StatusId" *ngFor="let obj of status">
                                    {{obj.StatusName}}</option>
                            </select>
                        </td>
                        <td colspan="1"><b>Total Bill:</b><small *ngIf="hideForPdf">excluding cancelled</small></td>
                        <td colspan="1"><b>₹ {{globalService.getTotalOfNonCancelledOrderWithDeliveryCharges(orderDetail,
                                'quantity', 'unit_cost')}}</b> </td>
                        <td colspan="2">
                            <a *ngIf="hideForPdf"
                                href="upi://pay?pa=paytmqr281005050101i59jwvlwuuy1@paytm&amp;pn=Neeraj Sangwan&amp;cu=INR"
                                class="btn btn-success waves-effect d-sm-block d-md-block d-lg-none">Pay Now</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <hr>
    <div class="row" *ngIf="paymentDetail && paymentDetail.length && hideForPdf">
        <div class="col-md-12">
            <strong>
                <h4>Payments: {{paymentDetail[0].order_id}}</h4>
            </strong>
        </div>
        <div class="col-md-12 table-responsive-sm">
            <table class="table table-striped text-center">
                <thead class="pink-text">
                    <tr>
                        <th scope="col">S No.</th>
                        <th scope="col">Payment Id</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">Amount Paid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of paymentDetail; let i = index;;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{order.PaymentId}}</td>
                        <td>{{order.CreatedOn | date}}</td>
                        <td>{{order.Amount}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="1"><b>Total Paid:</b> </td>
                        <td colspan="1"><b>₹ {{PaymentTotal}}</b> </td>
                    </tr>
                    <tr *ngIf="totalRem">
                        <td colspan="2">
                        </td>
                        <td colspan="1"><b>Total Remaining:</b> </td>
                        <td colspan="1"><b>₹ {{totalRem}}</b> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<hr>
<div class="container" *ngIf="hideForPdf">
    <div class="row" *ngIf="!paymentDetail || !paymentDetail.length">
        <div class="col-md-12 text-center text-danger ">
            <strong>
                <h1>Complete Payment Pending.
                </h1>
            </strong>
            <div class="pull-right cursor-p" (click)="removeOrderDeliveryCharges()" *ngIf="user && user.Role <= 6">
                <i class="fa fa-trash" aria-hidden="true">Delivery Charges</i>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="paymentDetail && orderDetail && orderDetail.length && refreshFlag">
        <app-payment-submit-admin (refreshPaymentList)="getPaymentDetail()"
            *ngIf="user && user.Role <= 6 && orderDetail[0].status && allowedStatus.indexOf(orderDetail[0].status) > -1"
            [orderDetailData]="orderDetail" [paymentDetailData]="paymentDetail"></app-payment-submit-admin>
    </div>
</div>