<header>
    <app-header></app-header>
</header>
<section class="register-block mt-5">
    <div class="container">

        <div class="row register-sec">
            <div class="col-md-12 register-sec pb-0 pt-0">
                <h2 class="text-center">Sign up Now</h2>

            </div>
            <form class="register-form col-md-12" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group ">
                            <label for="FirstName" class="text-uppercase">Customer Name</label>
                            <input type="text" class="form-control is-invalid" formControlName="FirstName"
                                class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['FirstName'].errors }">

                            <div *ngIf="submitted && f['FirstName'].errors" class="invalid-feedback">
                                <div *ngIf="f['FirstName'].errors.required">Customer Name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AddressOne" class="text-uppercase">Address </label>
                            <input type="text" class="form-control" formControlName="AddressOne" class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['AddressOne'].errors }">

                            <div *ngIf="submitted && f['AddressOne'].errors" class="invalid-feedback">
                                <div *ngIf="f['AddressOne'].errors.required">Address is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ZipCode" class="text-uppercase">PinCode</label>
                            <input type="text" class="form-control" formControlName="ZipCode" class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['ZipCode'].errors }">

                            <div *ngIf="submitted && f['ZipCode'].errors" class="invalid-feedback">
                                <div *ngIf="f['ZipCode'].errors.required">PinCode is required</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="Mobile" class="text-uppercase">Mobile</label>
                            <input type="text" class="form-control" formControlName="Mobile" class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['Mobile'].errors }">

                            <div *ngIf="submitted && f['Mobile'].errors" class="invalid-feedback">
                                <div *ngIf="f['Mobile'].errors.required">Mobile is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Password" class="text-uppercase">Password</label>
                            <input type="password" class="form-control" formControlName="Password" class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['Password'].errors }">

                            <div *ngIf="submitted && f['Password'].errors" class="invalid-feedback">
                                <div *ngIf="f['Password'].errors.required">First Name is required</div>
                            </div>
                        </div>
                        
                        <div class="form-group " *ngIf="!OnloadpartnerId">
                            <div class="col-md-12 ">
                                <div class="form-group mt-1">
                                    <label class="form-check-label cursor-p" for="flexSwitchCheckChecked"
                                        *ngIf="flagSwitch">
                                        Distributer banna hai</label>
                                    <label class="form-check-label cursor-p" for="flexSwitchCheckChecked"
                                        *ngIf="!flagSwitch">
                                        Customer banna hai </label>&nbsp;&nbsp;
                                    <input class="form-check-input" type="checkbox"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="flagSwitch"
                                        id="flexSwitchCheckChecked" checked>
                                    <div class="form-group mt-4" *ngIf="!flagSwitch">
                                        <ng-multiselect-dropdown class="w-100" [placeholder]="'Select Distributor from List'"
                                            [(ngModel)]="Selecteddistributers" [ngModelOptions]="{standalone: true}"
                                            [settings]="distributersListDropdownSettings" [data]="distributersList"
                                            (onSelect)="onDistributerSelect($event)"
                                            (onDeSelect)="onDistributerDeSelect($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <button type="submit" class="btn btn-register mt-3 pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-md-12 register-sec pb-0 pt-0">
                <a href="javascript:void(0)" routerLink="/customer/login">
                    <strong>Login</strong>
                </a>
                If you already have an account.
            </div>
        </div>
    </div>
</section>