<!-- <app-header></app-header> -->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item hoverable">
                    <a href="#">Your Profile</a>
                </li>
                <!-- <li class="list-group-item hoverable">
                    <a href="#">Your Wishlist</a>
                </li> -->
                <li class="list-group-item hoverable">
                    <a href="#">Your Cart</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <form>
                <div class="row">
                    <!-- <img src="https://angular-shoppingcart.firebaseapp.com/assets/img/malecostume-512.png" [alt]="loggedUser.FullName"
                        style="width: 35%; height: 35%;"> -->
                    <div class="col-md-8 mt-3">
                        <label for="userName">Name</label>
                        <p style="font-size: 15px;">{{loggedUser.name}}</p>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="emailId">Email</label>
                        <p style="font-size: 15px;">{{loggedUser.email}}</p>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="emailId">Mobile</label>
                        <p style="font-size: 15px;">{{loggedUser.mob_phone}}</p>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="emailId">Country</label>
                        <p style="font-size: 15px;">India</p>
                    </div>
                </div>
            </form>
            
        </div>
        <hr>
        <div class="col-12 text-center">
            <h4 style="text-decoration: underline;"> <strong>Payment QR Code</strong> </h4>
            <img src="assets/QRcode.jpeg" [alt]="loggedUser.FullName"
                        style="width: 100%; height: 100%;">
        </div>
    </div>
</div>