<section class="register-block notification">
    <div class="container">
        <div class="row register-sec">
            <!-- ng multiselect for notification list -->
            <div class="col-md-12 notification-sec">
                <div class="col-xs-12">
                    <h2 class="text-center">Notification List</h2>
                </div>
                <div class="form-group " *ngIf="customerList && customerList.length">
                    <label for="userId" class="text-uppercase fw-bold">Select User: </label>
                    <ng-multiselect-dropdown class="w-100" [(ngModel)]="SelectedUser"
                        [placeholder]="'Select User for notification'" [settings]="customerListdropdownSettings"
                        [data]="customerList" (onSelect)="onCustomerSelect($event)"
                        (onDeSelect)="onCustomerSelect($event)" (onSelectAll)="onAllCustomerSelect($event)">
                        <!-- (onFilterChange)="SearchModelChanged.next($event)" -->
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <!-- ------------------------------------------------------------------------------------- -->
            <!-- notification list page code -->
            <!-- Notification grouped by date -->

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th> Sno.</th>
                            <th>Name </th>
                            <!-- <th>Description</th> -->
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notiDetail of allNotificationData; let i = index">
                            <td>{{i+1}}.
                                <i class="fa font" 
                                    [ngClass]="{'fa-envelope': notiDetail.IsRead==0, 'fa-envelope-open':notiDetail.IsRead==1}"></i>
                            </td>
                            <td class="fw-bold cursor-p" [ngClass]="{'text-primary':notiDetail.notification_type==1,
                            'text-success':notiDetail.notification_type==2,'text-warning':notiDetail.notification_type==3,
                            'text-danger':notiDetail.notification_type==4}">
                                <p *ngIf="wordWrap[notiDetail.notification_id]"
                                    (click)="wordWrapFunction(notiDetail.notification_id)">{{notiDetail.notification_name}}
                                </p>
                                <p *ngIf="!wordWrap[notiDetail.notification_id]"
                                    (click)="wordWrapFunction(notiDetail.notification_id)">
                                    {{notiDetail.notification_name.slice(0, 20 - 1) + "…"}}</p>
                            </td>
                            <!-- <td class="cursor-p wrap" title="{{notiDetail.notification_description}}">
                                <p *ngIf="wordWrap[notiDetail.notification_id]" (click)="wordWrapFunction(notiDetail.notification_id)">
                                    {{notiDetail.notification_description}}</p>
                                <p *ngIf="!wordWrap[notiDetail.notification_id]" (click)="wordWrapFunction(notiDetail.notification_id)">
                                    {{notiDetail.notification_description.slice(0, 20 - 1) + "…"}}</p>
                            </td> -->
                            <td class="cursor-p">
                                <p>{{notiDetail.created_on | date:'medium'}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>