<app-header></app-header>
<br>
<section class="register-block">
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="input-group rounded">
                <input type="search" (input)="filterOrder($event)" class="form-control rounded"
                    placeholder="Search Order" aria-label="Search" aria-describedby="search-addon" />
            </div>
        </div>
        <div class="col-md-12 table-responsive-sm">
            <table class="table  text-center ">
                <thead class="pink-text">
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Pending</th>
                        <th scope="col">items</th>
                        <th scope="col">Created On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderList; let i = index" [routerLink]="['/order/order-detail/' + order.order_id]">
                        <td class="td-text-mid">
                            <a class="text-primary font-weight-bold" href="javascript:void(0)"
                                >{{order.order_id}} </a>
                        </td>
                        <td class="td-text-mid">
                            {{globalService.getTotalPendingPayments(order.order_details, 'units',
                            'unit_cost')}}
                        </td>
                        <td class="td-text-mid">
                            <a class="nav-link waves-effect"
                                *ngIf="globalService.getTotalPendingPayments(order.order_details, 'units', 'unit_cost') - order.pAmount > 0"
                                href="javascript:void(0);">
                                {{ globalService.getTotalPendingPayments(order.order_details, 'units',
                                'unit_cost') - order.pAmount}}
                            </a>
                            <a class="nav-link waves-effect"
                                *ngIf="globalService.getTotalPendingPayments(order.order_details, 'units', 'unit_cost') - order.pAmount <= 0"
                                href="javascript:void(0);">
                                0
                            </a>
                        </td>
                        <td class="text" *ngIf="order.order_details.length && showItems[order.order_id]">
                            <i class="fa fa-times ft-19"
                                (click)="showItems[order.order_id] = !showItems[order.order_id]"></i>
                            <table class="table bg-light rounded">
                                <thead class="pink-text">
                                    <tr>
                                        <th scope="col">Item Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Units</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of order.order_details;">
                                        <td>{{item.item_id}}</td>
                                        <td>
                                            <a class="td-link" href="javascript:void(0)"
                                                [routerLink]="['/products/product-details', item.product_id]">{{item.name}}</a>
                                        </td>
                                        <td>{{item.units}} <i class="fa fa-edit  cursor-p" title="update quantity"
                                                aria-hidden="true"></i></td>
                                        <td>{{item.unit_cost}}</td>
                                        <!-- (ngModelChange)='onChangeStatus($event, item)' -->
                                        <td><select [(ngModel)]="item.item_status" disabled
                                                [ngClass]="{'border-danger': item.item_status == '5','border-success': item.item_status == '6', 'border-dark': [3, 4].indexOf(item.item_status) > -1}"
                                                name="userId" class="form-control mw-200">
                                                <option [selected]="item.item_status == obj.StatusId"
                                                    [ngValue]="obj.StatusId" *ngFor="let obj of status">
                                                    {{obj.StatusName}}</option>
                                            </select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td (click)="showItems[order.order_id] = !showItems[order.order_id]"
                            *ngIf="!showItems[order.order_id]"><i class="fa fa-eye"></i>
                            <br>{{order.order_details.length}} Item ke
                            {{globalService.getTotalOfColumn(order.order_details, 'units')}} units
                        </td>
                        <td class="td-text-mid">
                            {{order.created_on | date:'medium'}} UTC
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>