<app-header></app-header>
<div class="container">
    <div class="row  mt-5">
        <div class="col-md-12 mt-5" *ngIf="LoggedinUser && LoggedinUser.Role <= 8">
            <h3>
                Place order for Retailer
            </h3>
        </div>
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="text-xs-center">
                        <strong>Cart summary</strong>
                        <!-- <app-paypal-checkout [totalAmount]="400" class="pull-right mt-2"></app-paypal-checkout> -->
                    </h3>
                </div>
                <div class="card-block">
                    <div class="table-responsive-sm">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <td><strong>Item Name</strong></td>
                                    <td class="text-xs-center"><strong>Item Price</strong></td>
                                    <td class="text-xs-center"><strong>Item Quantity</strong></td>
                                    <td class="text-xs-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of checkoutProducts">
                                    <td>{{item.Name}}</td>
                                    <td class="text-xs-center">&#8377; {{item.Price}}</td>
                                    <td class="text-xs-center">{{item.Quantity}}</td>
                                    <td class="text-xs-right">&#8377; {{item.Price * item.Quantity}}</td>
                                </tr>
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-xs-center"></td>
                                    <td class="highrow text-xs-right"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row pb-5 px-4 bg-white shadow-sm w-100">
                            <div class="col-lg-6">
                                <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Instructions for seller
                                </div>
                                <div class="p-4">
                                    <p class="font-italic mb-4">If you have some information for the seller you can
                                        leave
                                        them in the box below
                                    </p>
                                    <textarea name="" cols="30" rows="2" class="form-control"
                                        [(ngModel)]="remark"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pr-4 pl-4-0">
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">Order Subtotal
                                            </strong><strong>&#8377; {{totalPrice}}</strong></li>
                                        <!-- <li><small>Note: No charges for pickup from Office</small>
                                            <a target="_blank" href="https://www.google.com/maps/place/28%C2%B036'16.5%22N+76%C2%B058'50.5%22E/@28.604572,76.9785143,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d28.604572!4d76.980703?hl=en">
                                            <i class="fa fa-map-marker ft-30 text-red"></i></a></li> -->
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">Shipping and
                                                handling</strong><strong>&#8377;
                                                {{delivery_charges}}</strong> </li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">Total</strong>
                                            <h5 class="font-weight-bold">&#8377;
                                                {{totalPrice + delivery_charges}}</h5>
                                        </li>
                                    </ul>
                                    <div class="col-md-12 mb-3" *ngIf="user && user.Role <= 8">
                                        <div class="form-group " *ngIf="customerList && customerList.length">
                                            <label for="userId" class="text-uppercase fw-bold">Select Retailer To Place
                                                Order: </label>
                                            <ng-multiselect-dropdown class="w-100"
                                                [placeholder]="'Select Retailer for orderlist'"
                                                (onSelect)="onChangeSelectedUser($event)"
                                                [settings]="customerListDropdownSettings" [data]="customerList">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <app-paypal-checkout *ngIf="SelectedUser || LoggedinUser && LoggedinUser.Role > 8"
                                        [comments]="remark" [SelectedUserData]="SelectedUser" [totalAmount]="totalPrice"
                                        class="w-100 pull-right"></app-paypal-checkout>

                                    <span class="text-danger"
                                        *ngIf="!SelectedUser && LoggedinUser && LoggedinUser.Role <= 8">Please Search
                                        and Select a Retailer to place the order
                                    </span>
                                    <!-- <a href="javascript:(void)" routerLink="/checkout/customer-information" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>