<header>
    <app-header></app-header>
</header>
<section class="register-block bill">
    <div class="container">
        <div class="row register-sec">
            <div class="col-xs-12 m-auto text-center">
                <h2>Bill Generator Software As Service</h2>
            </div>
            <form class="register-form col-md-12" [formGroup]="BillInsertForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group ">
                            <label for="Mobile" class="text-uppercase" placement="top"
                                ngbTooltip="Product ka Naam">Customer Mobile
                                <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                            <input type="number" class="form-control is-invalid" formControlName="Mobile"
                                class="form-control" [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f.Mobile.errors }">

                            <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.Mobile.errors.required">Mobile is required</div>
                                <div *ngIf="f.Mobile.errors.min || f.Mobile.errors.max">Mobile is Invalid</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description" class="text-uppercase" placement="top"
                                ngbTooltip="Description is product ka">Description <i class="fa fa-info-circle"
                                    aria-hidden="true"></i></label>
                            <input type="text" class="form-control" formControlName="Description" class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f.Description.errors }">
                            <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                                <div *ngIf="f.Description.errors.required">Description is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="WarrantyInDays" class="text-uppercase" placement="top"
                                ngbTooltip="Any warranty for this product?">Warranty In Days <i
                                    class="fa fa-info-circle" aria-hidden="true"></i></label>
                            <input type="number" class="form-control" formControlName="WarrantyInDays"
                                class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['WarrantyInDays'].errors }">
                            <div *ngIf="submitted && f['WarrantyInDays'].errors" class="invalid-feedback">
                                <div *ngIf="f['WarrantyInDays'].errors.required">Warranty In Days is required</div>
                                <div *ngIf="f['WarrantyInDays'].errors.min">Min value is 0</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image" class="text-uppercase" placement="top" ngbTooltip="image">image <i
                                    class="fa fa-info-circle" aria-hidden="true"></i></label>
                            <input type="file" accept="image/*" (change)="onFileSelect($event)" name="image"
                                class="form-control" class="form-control"
                                [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f.image.errors }">
                            <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                <div *ngIf="f.image.errors.required">image is required</div>
                            </div>
                        </div>
                        <div class="form-check">
                            <button class="btn btn-danger pull-right mt-2"
                                *ngIf="submitted && BillInsertForm.invalid">Error
                                in the form</button>
                            <button type="submit" class="btn btn-register pull-right mt-2"
                                *ngIf="!submitted || !BillInsertForm.invalid">Submit</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row register-sec">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div id="search-autocomplete" class="form-outline">
                            <label class="form-label fw-bold" for="form1">Search</label>
                            <input type="search" [(ngModel)]="searchString"
                                (ngModelChange)='BillSearchModelChanged.next($event)' id="form1" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div id="search-autocomplete" class="form-outline">
                            <label class="form-label fw-bold" for="date">Bills From Date</label>
                            <input (ngModelChange)='getbills($event)' type="date"
                                [ngModel]="billsFromDate | date:'yyyy-MM-dd'" id="date" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped text-center" >
                <!-- *ngIf="billList.length" -->
                <thead>
                    <tr>
                        <th scope="col">Bill Id</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Warranty Given</th>
                        <th scope="col">Warranty Remaining</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Created On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bill of billList">
                        <td>{{bill.Bill_id}}</td>
                        <td>{{bill.Description}}</td>
                        <td><img width="120" (click)="OnclickDownload(bill.image)" [src]="bill.image"
                                [alt]="bill.Description"></td>
                        <td class="cursor-p"
                            (click)="BillingSaasService.notifyCustomer(user.name, bill.Description, bill.Mobile, bill.WarrantyInDays, bill.image, globalService.WarrantyValidator(bill.WarrantyInDays, bill.CreatedOn))">
                            {{bill.Mobile ? bill.Mobile : 'Not Provided'}}
                            <i *ngIf="bill.Mobile" class="fa fa-whatsapp ft-30" aria-hidden="true"></i>

                        </td>
                        <td>{{bill.WarrantyInDays}}</td>
                        <td>{{globalService.WarrantyValidator(bill.WarrantyInDays, bill.CreatedOn) ? 'Yes' : 'Expired'}}
                        </td>
                        <td (click)="deleteBillsbyId(bill)"><i class="fa fa-trash ft-4 cursor-p" aria-hidden="true"></i>
                        </td>
                        <td>{{bill.CreatedOn | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>