.breadcrumb-item + .breadcrumb-item::before{
    content: ">>";
}

.sortbybtn{
    padding: 0px 13px;
    font-size: 13px;
    border-radius: 5px;
    border:1px solid white;
    color:white;
}
.sortbybtn:hover{
    background-color: #f66c98;
}
