<div class="row" *ngIf="OrderDetail && OrderDetail.length">
    <div class="col-md-12 register-sec pb-0 pt-0">
        <h2 class="text-center">Payment: {{OrderDetail[0].cName}}, {{OrderDetail[0].address_1}}
            <a href="tel:{{OrderDetail[0].mob_phone}}"><i class="fa fa-phone text-success" aria-hidden="true"></i>
            </a>
        </h2>
        <h3 class="text-center">
            <a class="nav-link waves-effect" href="javascript:void(0);"
                (click)="OrderService.getPendingOrderForCustomerAndSendWhatsapp(OrderDetail[0].customer_id, OrderDetail[0].mob_phone, OrderDetail[0].cName)">
                Reminder For Pending Payments
                <i class="fa fa-whatsapp ft-30" aria-hidden="true"></i>
            </a>
        </h3>
        <hr>
    </div>
    <div class="col-md-12" *ngIf="payable > 0">
        <form class="register-form col-md-12" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Amount" class="text-uppercase">Amount</label>
                        <input type="number" class="form-control" formControlName="Amount" class="form-control"
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f.Amount.errors }">

                        <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
                            <div *ngIf="f.Amount.errors.required">Amount is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Status" class="text-uppercase">Status</label>
                        <select formControlName="Status" class="form-control" required
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f.Status.errors }">
                            <option [ngValue]="item.StatusId" *ngFor="let item of status">{{item.StatusName}}</option>

                        </select>
                        <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                            <div *ngIf="f.Status.errors.required">Status is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fullPay" class="text-uppercase">Full Remaining Payment?</label>
                        <input type="checkbox" name="fullPay" (change)="payFull($event)"
                            class="form-control" class="form-control">
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-register pull-right mt-2">Pay</button>
                    </div>
                </div>
                <hr>
            </div>
        </form>
    </div>
</div>