<app-header></app-header>

<section class="register-block">
    <div class="container">
        <div class="row register-sec pb-3 mt-5">
            <div class="col-md-12 register-sec pb-0 pt-0">
                <div class="form-group" class="text-center">
                    <label for="product" class="text-uppercase fw-bold">Select Product for Trainee Update</label>
                    <ng-multiselect-dropdown placeholder="Select any one trainee product" [settings]="dropdownSettings"
                        [data]="productList" [(ngModel)]="selectedProducts" (onSelect)="productSelect($event)"
                        (onDeSelect)="productDeselect($event)">
                    </ng-multiselect-dropdown>
                </div> 
            </div>
        </div>

        <div class="row register-sec pt-0 mt-0">
            <div class="col-md-12 register-sec pb-0 pt-0 text-center">
                <label *ngIf="product" for="updateProductName" class="text-uppercase fw-bold text-success">
                    Product for Trainee Update : <b class="text-danger"> {{product.Name}} </b> </label>
            </div>
        </div>
    </div>


    <div class="container mt-2 pt-2">
        <form class="pb-3" [formGroup]="productInsertForm" (ngSubmit)="formSubmit()">
            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Product Name :</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subcatagory">Subcatagory :</label>
                        <input type="text" class="form-control" id="subcatagory" formControlName="subcatagory">
                    </div>
                </div>
            </div>

            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="youtubeLink">Youtube Video Link :</label>
                        <input type="text" class="form-control" id="youtubeLink" formControlName="youtubeLink">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <input type="text" class="form-control" id="description" formControlName="description">
                    </div>
                </div>
            </div>

            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="deliveryCharges">Delivery Charges Category :</label>
                        <input type="text" class="form-control" id="deliveryCharges" formControlName="deliveryCharges">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price">Price :</label>
                        <input type="text" class="form-control" id="price" formControlName="price">
                    </div>
                </div>
            </div>

            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="searchTags">Search Tags :</label>
                        <input type="text" class="form-control" id="searchTags" formControlName="searchTags">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="landingRate">Landing Rate :</label>
                        <input type="text" class="form-control" id="landingRate" formControlName="landingRate">
                    </div>
                </div>
            </div>

            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="stock">Stock :</label>
                        <input type="text" class="form-control" id="stock" formControlName="stock">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="newPrice">New Price :</label>
                        <input type="text" class="form-control" id="newPrice" formControlName="newPrice">
                    </div>
                </div>
            </div>

            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="newStock">New Stock :</label>
                        <input type="text" class="form-control" id="newStock" formControlName="newStock">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="warranty">Warranty in Days :</label>
                        <input type="text" class="form-control" id="warranty" formControlName="warranty">
                    </div>
                </div>
            </div>

            <div class="row register-sec pb-0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="image">Image :</label>
                        <input type="file" class="form-control" id="image" accept="Image/*" (change)="uploadImageHandler($event)">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger mt-4 pull-right">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>