<app-header></app-header>
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 text-center mb-5">
            <h2><u>Manage Saleman's bag by Admin</u></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngIf="user && user.Role <= 8">
            <!-- <div class="form-group">
                <label for="username" class="">Search Salesman by name, mobile or address: </label>
                <input type="text" class="form-control" [(ngModel)]='searchText'
                    (ngModelChange)='searchModelChanged.next($event + "/" + "customer")' />
                <hr>
            </div>
            <div class="form-group" *ngIf="customerList && customerList.length">
                <label for="userId" class="text-uppercase fw-bold">Select Salesman to assign orders: </label>
                <select data-live-search="true" [(ngModel)]="SelectedSaleman" (ngModelChange)='salemanSelected()'
                    class="form-control" name="userId" class="form-control">
                    <option value="">All</option>
                    <option [ngValue]="item" *ngFor="let item of salemanList"> Id: {{item.customer_id}}/ {{item.name}}/
                        {{item.address_1}}/
                        {{item.mob_phone}} / {{item.password ? item.password : ''}}
                    </option>
                </select>
            </div> -->
            <div class="form-group " *ngIf="customerList && customerList.length">
                <label for="userId" class="text-uppercase fw-bold">Select Saleman: </label>
                <ng-multiselect-dropdown class="w-100" [(ngModel)]="SelectedUsers" [placeholder]="'Select Saleman to assign orders'"
                    (ngModelChange)="filterOrdersbyCustomer()" [settings]="salemanListDropdownSettings"
                    [data]="salemanList">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-md-4" *ngIf="user && user.Role <= 8">
            <div class="form-group " *ngIf="customerList && customerList.length">
                <label for="userId" class="text-uppercase fw-bold">Select Retailer: </label>
                <ng-multiselect-dropdown class="w-100" [(ngModel)]="SelectedUsers" [placeholder]="'Select Retailer for orderlist'"
                    (ngModelChange)="filterOrdersbyCustomer()" [settings]="customerListDropdownSettings"
                    [data]="customerList">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-md-4" *ngIf="user && user.Role <= 8">
            <div class="form-group">
                <label for="userId" class="text-uppercase fw-bold">Filter: </label>
                <ng-multiselect-dropdown [disabled]="true" class="w-100" [(ngModel)]="filterStatus"
                    (ngModelChange)="getOrders()" [settings]="dropdownSettings" [data]="status">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <!-- <div class="input-group mb-3 col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Count</span>
            </div>
            <input type="number" (input)="getOrders()" [(ngModel)]="Count" class="form-control rounded"
                placeholder="Search Order" aria-label="Search" aria-describedby="search-addon" />
        </div> -->
        <!-- <div class="input-group mb-3 col-md-4">
            
        </div> -->
        
        <div class="input-group mb-3 col-md-3" *ngIf="orderList.length && SelectedSaleman">
            <h6>Assign {{SelectedUsers.length ? SelectedUsers.length : 'all these '}} customers ke {{orderList.length}}
                orders to {{SelectedSaleman.name}} salesman</h6>
            <button title="add in saleman's bag" class="btn btn-success" (click)="SubmitBag()"
                *ngIf="ProductAndItemList && ProductAndItemList.length"> Add to bag</button>
        </div>
        <div class="input-group mb-3 col-md-3" *ngIf="orderList.length && SelectedSaleman">

            <button class="btn btn-primary" [routerLink]="['/emp-access/saleman/edit-bag/' + SelectedSaleman.customer_id]"
                *ngIf="SelectedSaleman"> See {{SelectedSaleman.name}}'s bag <i class="fa fa-external-link"
                    aria-hidden="true"></i></button>
        </div>
        <div class="col-md-12 table-responsive-sm max-h-table" *ngIf="SelectedSaleman && orderList">
            <table class="table  text-center ">
                <thead class="pink-text">
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderList; let i = index">
                        <td class="td-text-mid">
                            <a class="text-primary font-weight-bold" href="javascript:void(0)"
                                [routerLink]="['/emp-access/order-detail/' + order.order_id]">{{order.order_id}} </a>
                            <br>
                            <br>
                            <a href="tel:{{order.mob_phone}}">{{order.cName}} <i class="fa fa-phone text-success"
                                    aria-hidden="true"></i>
                            </a>
                            <br>{{order.created_on | date:'medium'}}
                        </td>
                        <td class="text"
                            *ngIf="order.order_details.length && (order.assigned_bag_saleman == SelectedSaleman.customer_id || !order.assigned_bag_saleman)">
                            {{order.order_details.length}} Item ke
                            {{globalService.getTotalOfColumn(order.order_details, 'units')}} units
                            already Assigned hai ye isi saleman ko
                            <table class="table bg-light rounded">
                                <thead class="pink-text">
                                    <tr>
                                        <th scope="col">Item Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Units</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of order.order_details;">
                                        <td>{{item.item_id}}</td>
                                        <td>{{item.name}}</td>
                                        <!-- <td>{{item.units}}</td> -->
                                        <td>{{item.units}} <i class="fa fa-edit  cursor-p" title="update quantity"
                                                aria-hidden="true" (click)="setupdateOrderQtyByItemID(item)"></i></td>

                                        <td>{{item.unit_cost}}</td>
                                        <td><select [(ngModel)]="item.item_status"
                                                (ngModelChange)='onChangeStatus($event, item)'
                                                [ngClass]="{'border-danger': item.item_status == '5','border-success': item.item_status == '6', 'border-dark': [3, 4].indexOf(item.item_status) > -1}"
                                                name="userId" class="form-control mw-200">
                                                <option [selected]="item.item_status == obj.StatusId"
                                                    [ngValue]="obj.StatusId" *ngFor="let obj of status">
                                                    {{obj.StatusName}}</option>
                                            </select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                        <td class="td-text-mid"
                            *ngIf="order.assigned_bag_saleman && order.assigned_bag_saleman != SelectedSaleman.customer_id">
                            Cant assign because its assigned to Id: {{order.assigned_bag_saleman}} saleman
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <h4 class="text-center"><strong><u>Products</u></strong></h4>
    <h4 class="text-center" *ngIf="!SelectedSaleman"><strong><u>Please select a saleman</u></strong></h4>
    <h5 class="text-center" *ngIf="ProductAndItemList && ProductAndItemList.length">
        <strong><u>{{ProductAndItemList.length}} Products ke {{globalService.getTotalOfColumn(ProductAndItemList,
                'total_units')}} units dedo.</u></strong>
    </h5>
    <h5 class="text-center" *ngIf="SelectedSaleman && ProductAndItemList && !ProductAndItemList.length">
        <strong><u>Products Delivery nhi hai abhi in Retailers ki.</u></strong>
    </h5>
    <div class="row text-center">
        <div class="col-md-12 table-responsive-sm max-h-table">
            <table class="table  text-center ">
                <thead class="pink-text">
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Qty</th>
                        <th scope="col">order item ids</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of ProductAndItemList; let i = index">
                        <td class="td-text-mid">
                            <a class="text-primary font-weight-bold" href="javascript:void(0)">{{obj.product_id}} </a>
                        </td>
                        <td class="td-text-mid">
                            {{obj.name}}
                        </td>
                        <td class="td-text-mid">
                            {{obj.total_units}}
                        </td>
                        <td class="td-text-mid">
                            {{obj.item_ids}}
                        </td>
                    </tr>
                    <tr>
                        <!-- Total Item: {{ Object.keys(ProductAndItemList).length}}  -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr style="border-top: 2px dashed red">
<h4 class="text-center"><strong><u>Assign More Products Manually To Saleman</u></strong></h4>
<div class="container ">
    <div class="row ">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="userId" class="text-uppercase fw-bold">Search Products: </label>
                <ng-multiselect-dropdown class="w-100" [(ngModel)]="SelectedProduct"
                    (ngModelChange)='searchModelChanged.next($event + "/" + "products")'
                    [settings]="productListDropdownSettings" [data]="productList">
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" *ngIf="productList && productList.length || true">
                <label for="userId" class="text-uppercase fw-bold">Assign quantity: </label>
                <input class="form-control" type="text" [(ngModel)]="spareQty">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" *ngIf="productList && productList.length || true">
                <label for="userId" class="text-uppercase fw-bold">Any Notes: </label>
                <input class="form-control" type="text" [(ngModel)]="notes">
            </div>
        </div>
        <div class="form-check">
            <!-- <button type="submit" class="btn btn-register mt-3 pull-right">Submit</button> -->
            <button class="btn btn-primary pull-right mt-2 addtobag" [disabled]="!SelectedProduct || !spareQty || spareQty <= 0"
                (click)="saveSpareProductinBag(spareQty, SelectedProduct, notes)" title="add in saleman's bag">Add to
                bag</button>
        </div>
    

        <div class="col-md-12 mb-5">
            <!-- <div class="form-group">
                <label for="username" class="">Search Products: </label>
                <input type="text" class="form-control" [(ngModel)]='searchText'
                    (ngModelChange)='searchModelChanged.next($event + "/" + "products")' />
                <hr>
            </div> -->
            <!-- <div class="form-group" *ngIf="productList && productList.length">
                <label for="userId" class="text-uppercase fw-bold">Select product to assign quantity: </label>
                <select data-live-search="true" [(ngModel)]="SelectedProduct"
                    class="form-control" name="userId" class="form-control">
                    <option [ngValue]="item" *ngFor="let item of productList"> Id: {{item.ProductId}}/ {{item.Name}}/
                        stock: {{item.stock}}
                    </option>
                </select>
            </div> -->
            <!-- <div class="form-group" *ngIf="productList && productList.length">
                <label for="userId" class="text-uppercase fw-bold">Assign quantity: </label>
                <input type="text" [(ngModel)]="spareQty">
            </div>
            <div class="form-group" *ngIf="productList && productList.length">
                <label for="userId" class="text-uppercase fw-bold">Any Notes: </label>
                <input type="text" [(ngModel)]="notes">
            </div>
            <button [disabled]="!SelectedProduct || !spareQty || spareQty <= 0" (click)="saveSpareProductinBag(spareQty, SelectedProduct, notes)" title="add in saleman's bag" class="btn btn-primary">Add to bag</button> -->
        </div>
    </div>
</div>