<div class="container" style="margin: 0px; max-width: 1500px;"> 
      <div class="row">
         <div class="col-xs-12">
            <app-filters [productList]="productList"></app-filters>
         </div>
          <div class="col-xs-12 col-md-12">

             <!-- <mdb-card class="m-0">
                <mdb-card-body>
                   <mdb-card-title>
                        
                   </mdb-card-title> -->

                   <!--Text-->
                   <!-- <mdb-card-text>  -->
                        <app-product-list #productList></app-product-list>
                   <!-- </mdb-card-text>
                </mdb-card-body>
             </mdb-card> -->

             <!-- Card -->
          </div>
       </div>
 </div>