<app-header></app-header>
<section class="register-block ">
    <div class="container">
        <div class="row register-sec mt-5">
            <div class="col-md-12 register-sec pb-0 pt-0">
                <div class="form-group " *ngIf="customerList && customerList.length">
                    <label for="userId" class="text-uppercase fw-bold">Select User: </label>
                    <ng-multiselect-dropdown class="w-100" [(ngModel)]="SelectedUser"
                        [placeholder]="'Select User to edit'" [settings]="customerListDropdownSettings"
                        [data]="customerList" (onFilterChange)="searchModelChanged.next($event)"
                        (onSelect)="onCustomerSelect($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
        </div>

        <form class="register-form col-md-12" [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label for="name" class="text-uppercase">Customer Name</label>
                        <input type="text" class="form-control is-invalid" formControlName="name"
                            class="form-control"
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['name'].errors }">

                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors.required">Customer Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="address_1" class="text-uppercase">Customer id </label>
                        <input type="text" class="form-control" formControlName="address_1" class="form-control"
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['address_1'].errors }">

                        <div *ngIf="submitted && f['address_1'].errors" class="invalid-feedback">
                            <div *ngIf="f['address_1'].errors.required">Address is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="IsActive" class="text-uppercase">IsActive</label>
                        <input type="text" class="form-control" formControlName="IsActive" class="form-control"
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['IsActive'].errors }">

                        <div *ngIf="submitted && f['IsActive'].errors" class="invalid-feedback">
                            <div *ngIf="f['IsActive'].errors.required">IsActive is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Role" class="text-uppercase">Role</label>
                        <input type="text" class="form-control" formControlName="Role" class="form-control"
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['Role'].errors }">

                        <div *ngIf="submitted && f['Role'].errors" class="invalid-feedback">
                            <div *ngIf="f['Role'].errors.required">Role is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="partner_name" class="text-uppercase">Partner Name</label>
                        <input type="text" class="form-control" formControlName="partner_name" class="form-control"
                            [ngClass]="{ 'is-valid':submitted, 'is-invalid': submitted && f['partner_name'].errors }">

                        <div *ngIf="submitted && f['partner_name'].errors" class="invalid-feedback">
                            <div *ngIf="f['partner_name'].errors.required">Partner Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-check">
                    <button class="btn btn-danger pull-right mt-2"
                        *ngIf="submitted && userUpdateForm.invalid">Error in the form</button>
                    <button type="submit" class="btn btn-register pull-right mt-2"
                        *ngIf="!submitted || !userUpdateForm.invalid">Submit</button>

                </div>
                
                <!-- <div class="col-md-12 register-sec pb-5 pt-2">
                    <button type="submit" class="btn btn-register pull-right">Submit</button>
                </div> -->
            </div>
        </form>
    </div>
</section>