<nav class=" navbar fixed-top navbar-expand-lg pt-1 pb-1 bg-pink justify-content-center">
  <div class="container-fluid">
    <div>
      <a class="logo navbar-brand" href="{{host}}"><img alt="ApniDukan" class=" rounded-top rounded-bottom" height="40"
          src="/assets/yantra-logo.png" style="z-index: 999;"> ApniDukan </a>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a class="bell" routerLink="/notification/list"><i class="fa fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger"> {{notificationCount}} </span>
        </a>
      </div>
      <div class="col-md-3">
      <a class="cart" routerLink="/checkout/shopping-cart">
        <i class="fa fa-shopping-cart "></i>
        <span class="badge rounded-pill badge-notification bg-danger"> {{itemCount}} </span>
      </a>
    </div>
  </div>
  <!-- <a class="bag text-white" routerLink="/checkout/shopping-cart" *ngIf="user && user.Role <= 8">
      Bag
      <i class="fa fa-shopping-bag "></i>
      <span class="badge rounded-pill badge-notification bg-danger"> {{bagItemCount}} </span>
    </a> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class=" navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item b-top-bottom cursor-p" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/customer/login">
          <strong class="text-white">Login</strong>
        </a>
      </li>
      <li class="nav-item b-top-bottom cursor-p" *ngIf="!isLogged">
        <a class="nav-link " routerLink="/customer/register">
          <strong class="text-white">Sign up</strong>
        </a>
      </li>
      <li class="nav-item b-top-bottom cursor-p" *ngIf="!isLogged">
        <a class=" nav-link  ">
          <strong class="text-pink"><a class="text-white callus" href="tel:{{user['mob_phone']}}"><i
                class="fa fa-phone text-success" aria-hidden="true"></i> Call Me
            </a>
          </strong>
        </a>
      </li>

      <li class="nav-item b-top-bottom cursor-p" *ngIf="!isLogged">
        <a class=" nav-link  ">
          <strong class="text-white">
            <a class="text-white text-decoration-none" target="_blank"
              href="https://wa.me/{{user['partner_mobile']}}/?text={{user['partner_name']}} ji">
              <i class="fa fa-whatsapp ft-19" aria-hidden="true"></i>
              Whatsapp
            </a>
          </strong>
        </a>
      </li>
      <li class="nav-item b-top-bottom cursor-p" *ngIf="!isLogged">
        <a class="nav-link  install-btn"
          href="https://www.google.com/maps/place/28%C2%B036'16.5%22N+76%C2%B058'50.5%22E/@28.604572,76.9785143,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d28.604572!4d76.980703?hl=en"
          target="_blank">
          <i class="fa fa-map-marker ft-30 text-white"></i>
          <strong class="text-white">Google Map</strong>
        </a>
      </li>
      <li class="nav-item b-top-bottom cursor-p" *ngIf="!isLogged">
        <a class="nav-link  install-btn" (click)="addToHomeScreen()">
          <i class="fa fa-download text-white"></i>
          <strong class="text-white">Install App</strong>
        </a>
      </li>
    </ul>

      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item dropdown pull-right" *ngIf="user && (user.Role > 6 || user.CustomerId == 3)">
          <a class="nav-link dropdown-toggle text-white " id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Bill & Order
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " routerLink="/order/history">
                <i class="fa fa-history text-pink"></i>
                <strong class="text-pink"> Orders History</strong>
              </a>
            </li>
            <li class="nav-item cursor-p ">
              <a class="nav-link " routerLink="/billsaas/insert">
                <i class="fa fa-file text-pink"></i>
                <strong class="text-pink">Generate Bills</strong>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item b-top-bottom cursor-p dropdown pull-left" *ngIf="user && user.Role <= 6">
          <a class="nav-link dropdown-toggle text-white " id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu menu-items dd-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link  text-pink" routerLink="/billsaas/insert">
                <i class="fa fa-file"></i>
                <strong>Bill SAAS</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link  text-pink" routerLink="/notification/create">
                <i class="fa fa-plus"></i>
                <strong>Create Notifications</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link  text-pink" routerLink="/target/create">
                <i class="fa fa-plus"></i>
                <strong>Create Targets</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link text-pink" routerLink="/customer/register">
                <i class="fa fa-user"></i>
                <strong>Register A User</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " routerLink="/emp-access/all">
                <i class="fa fa-history text-pink"></i>
                <strong class="text-pink">Order & Payments</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " href="/emp-access/product-insert?addNew=1">
                <i class="fa fa-plus text-pink"></i>
                <strong class="text-pink">Insert Product</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " href="/emp-access/product-insert?addNew=0">
                <i class="fa fa-edit text-pink"></i>
                <strong class="text-pink">Update Product</strong>
              </a>
            </li>
            <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " href="/emp-access/product-insert-trainee?addNew=0">
                <i class="fa fa-edit text-pink"></i>
                <strong class="text-pink">Trainee Product</strong>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link " href="/emp-access/product-insert-neeraj?addNew=0">
                <i class="fa fa-edit text-pink"></i>
                <strong class="text-pink">Neeraj Product</strong>
              </a>
            </li>
            
            <!-- <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " href="/emp-access/saleman/admin-create-bag">
                <i class="fa fa-shopping-bag text-pink"></i>
                <strong class="text-pink">Create Bag</strong>
              </a>
            </li> -->
          <!-- <li class="nav-item b-top-bottom cursor-p ">
              <a class="nav-link " routerLink="/credit-debit/audit">
                <i class="fa fa-money text-pink"></i>
                <strong class="text-pink">Ledger Audit</strong>
              </a>
            </li> -->
          <!-- <li class="nav-item ">
              <a class="nav-link " routerLink="/credit-debit/commu">
                <i class="fa fa-money text-pink"></i>
                <strong class="text-pink">Ledger Sum</strong>
              </a>
            </li> -->

        </ul>
      </li>
      <!-- <li class="nav-item b-top-bottom cursor-p"  *ngIf="user && user.Role <= 8">
          <a class="nav-link  dropdown-toggle"  >
            <strong class="text-white">Bag</strong>
            <span class="badge rounded-pill badge-notification bg-danger"> {{bagItemCount}} </span>
          </a>
          <app-my-bag class="dropdown-menu dropdown-cart mr-1 pb-0 " (click)="$event.stopPropagation()"
            *ngIf="bagItemCount != 0"></app-my-bag>
        </li> -->
      <li class="nav-item b-top-bottom cursor-p dropdown pull-left" *ngIf="isLogged">
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{user['name']}}
        </a>
        <ul class="dropdown-menu dd-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="nav-item b-top-bottom cursor-p ">
            <a class="nav-link " routerLink="customer/my-account">
              <i class="fa fa-user text-pink"></i>
              <strong class="text-pink">Profile</strong>
            </a>
          </li>
          <li class="nav-item b-top-bottom cursor-p">
            <a class="nav-link " (click)="subscribeToNotifications()">
              <i class="fa fa-envelope text-pink"></i>
              <strong class="text-pink">Subscribe offers</strong>
            </a>
          </li>
          <li class="nav-item b-top-bottom cursor-p">
            <a class="nav-link  install-btn" (click)="addToHomeScreen()">
              <i class="fa fa-download text-pink"></i>
              <strong class="text-pink">Install App</strong>
            </a>
          </li>
          <li class="nav-item b-top-bottom cursor-p">
            <a class="nav-link " (click)="onLogout()">
              <i class="fa fa-sign-in-alt text-pink"></i>
              <strong class="text-pink cursor-p">Logout</strong>
            </a>
          </li>

          <li class="nav-item b-top-bottom cursor-p">
            <a class="nav-link">
              <strong class="text-pink"><a href="tel:{{user['mob_phone']}}"><i class="fa fa-phone text-success"
                    aria-hidden="true"></i> Call Us
                </a></strong>
            </a>
          </li>
          <li class="nav-item b-top-bottom cursor-p">
            <a class="nav-link">
              <strong class="text-pink"><a target="_blank"
                  href="https://wa.me/{{user['partner_mobile']}}/?text={{user['partner_name']}} Ji">Whatsapp Us<i
                    class="fa fa-whatsapp ft-19" aria-hidden="true"></i>
                </a></strong>
            </a>
          </li>
          <li class="nav-item  cursor-p">

            <a class="nav-link" id="shareprofile">
              <strong class="text-pink ft-13"
                title="Apne Under Customer Ko Add Karne K liye Apni Profile Yahan se Share Kare"><a target="_blank"
                  href="https://wa.me/?text=Yahan se {{partnerName}} ji se Samaan Kharedne K Liye iss link se Register Kare: https://apnidukan.yantraworld.in/customer/register?partnerId={{PartnerId}}">
                  Share Your Profile <i class="fa fa-share"></i>
                </a></strong>
            </a>
          </li>
          <!-- <li class="nav-item ">
              <a class="nav-link  install-btn"
                href="https://www.google.com/maps/place/28%C2%B036'16.5%22N+76%C2%B058'50.5%22E/@28.604572,76.9785143,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d28.604572!4d76.980703?hl=en"
                target="_blank">
                <strong class="text-pink">Google Map</strong>
                <i class="fa fa-map-marker ft-30 text-red"></i>
              </a>
            </li> -->
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>