.toastr {
    position: absolute;
    right: 75px;
    top: 80px;

    button: {
        color: #fff;
    }
}


.indx {
    z-index: 102;
}

.logo {
    color: white;
}

.fa-shopping-cart {
    color: white;
}
.cart {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    position: fixed;
    right: 160px;
    top: 7px;
    border-color: red;
}
.bell {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    position: absolute;
    right: 85px;
    top: 7px;
    color: white;
    border-color: red;
}

// .bag {
//     padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
//     font-size: var(--bs-navbar-toggler-font-size);
//     line-height: 1;
//     color: #fff;
//     cursor: pointer;
//     background-color: transparent;
//     border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
//     border-radius: var(--bs-navbar-toggler-border-radius);
//     transition: var(--bs-navbar-toggler-transition);
//     position: fixed;
//     right: 200px;
//     top: 7px;
//     text-decoration: none;
//     border-color: red;
// }



.navbar-toggler {
    color: white;
}

// .navbar {
//     position: absolute;
//     width: 100%;
//     left: 0px;
//     top: 0px;
//     z-index: 5;
// }

.navbar-nav {
    display: inline-flex;
}
.callus {
    text-decoration: none;
}
.nav-item {
    display: list-item;
   
}
.menu-items :hover {
    color: #f66c98;
}

.b-top-bottom {
    border-bottom: 1px solid #e91e63;
}
#shareprofile {
    padding-right: 1%;
    padding-left: 0px;

}
.dropdown-cart {
    right: 0;
    left: unset;
}
.dropdown-login {
    left: unset;
}
.version {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    cursor: default;
}
.dd-menu {
    position: absolute;
    left: -25px;
}

@media only screen and (max-width: 600px) {
    .navbar-nav {
        display: flow-root !important;
    }
}

